html {
    font-size: 22px;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: #f2fbff;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    padding: 0.35rem;
}

.menu {
    align-content: center;
    align-items: center;
}

.menu a {
    display: inline-flex;
    padding: 0.3rem;
}

a:link, a:visited {
    color: black;
    text-decoration: underline;
}

a:hover, a:active {
    color: black;
}
