# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\gacar\Google Drive\Software developer\Codecademy\projects\Css\Project 7\Club Website\starting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
